/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size:100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {box-sizing:border-box}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
  background:black;
  padding-top: 5em;
  display: flex;
  flex-direction:column;
  align-items:space-between;
  justify-content: center;
}
header{
    text-align:center;
    margin:5%;
    margin-bottom:5%;
    border-bottom: double 5px #ff9472;
    border-top:double 5px #13ca91;
    padding:5%;
}
header h1{
  margin-bottom:5%;
  font-size:3rem;
  color:#ff9472;
}
header h2{
  font-size:2rem;
  color:#13ca91;
}
.main-content{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:space-between;
}
.cards{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
  }

.card{
    width:30%;
    padding:10%;
    margin:2%;
    border:3px double #ff9472;
     border-radius: 30% 80% 20% 40%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    font-size:1.5rem;

  }
  .card h3{
    font-size:1.1rem;
    color:#13ca91;
  }
.card:hover{
transform: scale(1.1);
}
.card .button{
  border:none;
  height:auto;
  width:30%;
  background-color:transparent;
  margin-bottom:7%;
}
.line h4{
  font-size:2rem;
  color:#ff9472;
}
.line .different-dots{
  color:#13ca91;
}
.different-border{
border:3px double #13ca91;
width:30%;
padding:10%;
margin:2%;
 border-radius: 30% 80% 20% 40%;
display:flex;
flex-direction:column;
justify-content: space-around;
align-items: center;
font-size:1.5rem;
}
.different-border h3{
  color:#ff9472;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color:black;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}