/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size:100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {box-sizing:border-box}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
  background:#333;
  padding-top: 5em;
  display: flex;
  flex-direction:column;
  align-items:space-between;
  justify-content: center;
}
.home-header{
    text-align:center;
    margin-top:1%;
    margin-bottom:10%;
    border :double 10px #13ca91;
    background-image:url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-s49-jir-1860-chim-02.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=715d701e138167c12f5abf7c32b74a0f");
    height:75vh;
    padding:3%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    margin-left:3%;
    margin-right:3%;
}

.home-header .header-title{
  margin-bottom:2%;
  font-size:2.5rem;
  color:black;
  text-shadow:1px 1px #13ca91;
}
.home-header .header-second-title{
  font-size:2.2rem;
  color: black;
  text-shadow:1px 1px #13cA91;
}
.nav{
  display:flex;
  justify-content:space-between;
  margin-bottom:5%;
  width:80%;
}
.nav .nav-link{
  font-size:1.5rem;
  color:black;
  text-shadow:1px 1px #13ca91;
}
.nav .nav-link:hover{
  transform:scale(1.1);
  color:#13ca91;
}
.arrow{
  font-size:3rem;
  color:black;
  text-shadow:1px 1px #13ca91;
}
.arrow:hover{
  transform:scale(1.1);
  color:#13ca91;
}

.main-content{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}
.cards{
  display:flex;
  flex-direction:column;
}
.cards-line{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.card{
    width:30%;
    height:60vh;
    border:5px double #13ca91;
    background-image:url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm200-ning-31.jpg?w=600&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=8bac5f8d5e0c412fa11e4c17d5d99484");
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:2%;
    margin:3%;
    margin-bottom:5%;
    

  }
.card:hover{
    transform: scale(1.1);
}
.card-title{
  text-align:center;
  font-size:1.2rem;
}
.line .dots{
  font-size:1.5rem;
  color:#ff9472;
}
.line .different-dots{
  color:#13ca91;
}
.different-border{
  font-size:1rem;
  border:5px double #ff9472;
  background-image:url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm200-adj-01-d.jpg?w=600&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b0a15aa2fa385943d26051f59dba5206");
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height:100%;
  overflow: scroll; 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color:black;
}
.modal-content {
  background-color: black;
  margin: 15% auto;
  padding: 10%;
  border: 5px double #13ca91;
  width: 50%;
  overflow:scroll;
  height:90vh;
}
.modal-text{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.modal-content .modal-paragraph{
  color:#ff9472;
  font-size:1.5rem;
  margin:1%;
}
.modal-content .modal-header{
  color:#13ca91;
  margin-bottom:5%;
  font-size:2.2rem;

}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.footer .nav{
  margin:10%;
}
.footer-nav-link{
  color:#ff9472;
  font-size:1.3rem;
}
.footer-nav-link:hover{
  transform:scale(1.1);
  color:#13ca91;
}
.footer-different-anchor{
  color:#13ca91;
}
.footer-different-anchor:hover{
  color:#ff9472;
}
.contact{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:3%;
  color:#ff9472;
  font-size:1.5rem;
}
.contact .contact-link{
  color:#13ca91;
}
.contact .different-contact-color{
 color: #ff9472;
}

@media(max-width:800px){
  .home-header{
   background-image: none;
   height:50vh;
  }
  .home-header .header-title{
    font-size:2.5rem;
    color:#ff9472;
    text-shadow:none;
  }
  .home-header .header-second-title{
    font-size:2rem;
    color:#13ca91;
    text-shadow:none;
  }
  .nav .nav-link{
    font-size:1.3rem;
    color:#13ca91;
    text-shadow:none;
  }
  .nav .different-anchor{
    color:#ff9472;
  }
  .cards{
    flex-direction:column;
    flex-wrap:nowrap
  }
  .card{
    width:35%;
  }
  .line{
    display:none;
  }
  .modal-content{
    width:80%;
  }
  .arrow{
    display:none;
  }
}
@media(max-width:600px){
  .home-header{
    flex-direction:column;
    margin-bottom:30%;
  }
  .cards-line{
    flex-direction:column;
  }
  .card{
    width:80%;
    height:40vh;
  }
 .home-header .header-title{
    font-size:2rem;
  }
  .home-header .header-second-title{
    font-size:1.5rem;
  }
  .line{
    display:none;
  }
  .card .card-title{
font-size:1.1rem;
  }
  .home-header .nav{
    flex-direction:column;
  }
  .nav .nav-link{
    font-size:1rem;
    margin:2%;
    border:1px solid #13ca91;
    text-decoration:none;
    padding:1%;
  }
  .footer .nav{
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  .footer-nav-link{
    font-size:1rem;
    margin:2%;
    border:1px solid #13ca91;
    text-decoration:none;
    padding:1%;
    width:80%;
    text-align:center;
  }
  .contact{
    font-size:1rem;
  }
}