/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size:100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {box-sizing:border-box}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
  background:black;
  padding-top: 5em;
  display: flex;
  justify-content: center;
  border: #13ca91 double 10px;
  border-radius: 30% 80% 20% 40%;
  padding:8%;
}
.typing p {
  white-space: nowrap;
  overflow: hidden;
  font-size:3.5rem;
  text-align: center;
  width:100%;
}
.typing p:nth-child(1) {
  opacity:0;
  animation: type 2s steps(40, end);
  animation-fill-mode: both;
  color:#ff9472;
}
.typing p:nth-child(2) {
  opacity: 0;
  animation: type2 2.5s steps(40, end);
  animation-delay: 2s;
  animation-fill-mode: both;
  color:#13ca91;
}
span{
  color:#ff9472
}
.line-two{
    margin-top:20%;
}
.delay-nav{
white-space: nowrap;
overflow: hidden;
font-size:2rem;
text-align: center;
opacity: 0;
width:100%;
animation: delay-nav 2.5s steps(40,end);
animation-fill-mode: both;
animation-delay:4s;
margin-top:20%;
}
.delay-nav a{
    color:#13ca91;
    text-decoration: none;
    border-bottom:1px double #ff9472;
}
@keyframes delay-nav {
 100% {
   opacity: 1;
 }
}

@keyframes type {
  100% {
    opacity:1;
  }
}
  @keyframes type2 {
  100% {
    opacity: 1;
  }
}